.testimonials_container {
  position: relative;
  width: 100%;
}
.testimonials {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  overflow-y: visible;
}

.testimonials_slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials {
  margin-left: auto;
  margin-right: auto;
}

.testimonials .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #fefffe;
  opacity: 1;

  margin-right: 16px !important;
}

.testimonials .swiper-pagination-bullet-active {
  background-color: #ffff00;
}

.testimonials .swiper-pagination {
  position: static;
  margin-top: 50px;
}
