.partnerSlide {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}

.sliderImage {
  transition: transform 0.3s ease;
  max-height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.partnerSlide:hover .sliderImage {
  transform: scale(1.05);
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #fefffe;
  opacity: 1;
  margin-right: 16px !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffff00;
}

.swiper-pagination {
  position: static;
  margin-top: 48px;
}
