.testimonials_container {
  position: relative;
  width: 100%;
}
.testimonials {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.testimonials_slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #fefffe;
  opacity: 1;

  margin-right: 16px !important;
}

.testimonials .swiper-pagination-bullet-active {
  background-color: #ffff00;
}

.swiper-wrapper {
  align-items: center;
}

.testimonials .swiper-pagination {
  position: static;
  margin-top: 50px;
}
