.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #fefffe;
  opacity: 1;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #ffff00;
  transform: scale(1.05);
}
.swiper-pagination-bullet:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.swiper-pagination {
  position: static;
  padding: 5px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
