@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-[2920px] px-[20px] md:px-[40px] xl:px-[64px] 3xl:px-[80px] 5xl:px-[120px];
  }
  .main-gradient {
    @apply bg-gradient-to-r from-green via-green to-yellow bg-size-200 bg-pos-0  transition-all duration-500 hover:bg-pos-100;
  }
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 6px;
}

.skeletonCard {
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 2s infinite;
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}
