@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .container {
    @apply w-full mx-auto px-[20px] max-w-[1920px] 5xl:px-[120px] 3xl:px-[80px] xl:px-[64px];
  }
  .main-gradient {
    @apply bg-gradient-to-r from-green to-yellow;
  }
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 6px;
}
