@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .container {

    @apply mx-auto w-full max-w-[1920px] px-[20px] md:px-[40px] xl:px-[64px] 3xl:px-[80px] 5xl:px-[120px];

  }
  .main-gradient {
    @apply transition-all duration-500 bg-gradient-to-r from-green via-green to-yellow  bg-size-200 bg-pos-0 hover:bg-pos-100;
  }
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 6px;
}

