.partnerSlide {
  max-width: 302px;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}

.partnerSlide:hover {
  transform: scale(1.1);
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #fefffe;
  opacity: 1;
  margin-right: 16px !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffff00;
}

.swiper-pagination {
  position: static;
  margin-top: 48px;
}

.swiper-button-prev {
  left: 0px;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  top: 30%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 30px;
}